<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bglog</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <h1><span class="symbols">⩀⩛⩑🞇⏣◍🞾🡢</span>VERY INTERESTING <span class="dev-word">DEV</span> BLOG</h1>
  {{range .}}
    <div class="article-badge">
        <a class="multi-line-padded-text" href={{.Url}}>{{.Data.Title}}</a>
        <br>
        {{if .Data.Subtitle}} <p class="subtitle">{{.Data.Subtitle}}</p> {{end}}
        {{if .Data.DateString}} <p class="date">{{.Data.DateString}}</p> {{end}}
    </div>
  {{end}}
</body>
</html>
