<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bglog</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <!-- <h1><span class="symbols">⩀⩛⩑🞇⏣◍🞾🡢</span>VERY INTERESTING <span class="dev-word">DEV</span> BLOG</h1> -->
    <div class="article-wrapper">
        {{.}}
    </div>
</body>

</html>