<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bglog</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/main-page.css">
</head>
<body>
  <header><span class="symbols">⩀⩛⩑🞇⏣◍🞾</span>VERY INTERESTING <span class="dev-word">DEV</span> BLOG</header>
  {{range .}}
    <div class="article-wrapper">
        <h1><a class="multi-line-padded-text" href={{.Url}}>{{.Data.Title}}</a></h1>
        <br>
        {{if .Data.Subtitle}} <p class="subtitle">{{.Data.Subtitle}}</p> {{end}}
        {{if .Data.DateString}} <p class="article-date">{{.Data.DateString}}</p> {{end}}
    </div>
  {{end}}
</body>
</html>
