header {
    padding: 10px 2vw;
    margin-top: 5px;
    margin-bottom: 38px;
    line-height: 29px;
}

header a {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 40px;
}

header a span.symbols {
    font-size: 38px;
    color: tomato;
    margin-right: 0.4em;
    letter-spacing: 0.25em;
    font-family: arial;
    vertical-align: text-top;
}

.article-wrapper header {
    font-size: 40px;
}


.article-wrapper p.article-date {
    color: #00a9ad;
    margin-bottom: 28px;
    border-bottom: 1px solid #a5a5a5;
    padding-bottom: 13px;
}

.article-wrapper p,
.article-wrapper ol {
    font-size: 18px;
    margin: 8px 0;
    line-height: 1.7em;
    font-weight: 549;
}



h3 {
    margin-top: 40px;
    margin-bottom: 28px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-shadow: 1px 1px 20px #7bfffe;
}

h4 {
    font-size: 22px;
    margin: 24px 0 14px 0;
}

h5 {
    font-size: 22px;
    font-weight: normal;
}

img {
    max-width: 100%;
    margin: 10px 0;
}