header {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 38px;
    line-height: 29px;
}

header a {
    font-size: 25px;
    letter-spacing: 3px;
}

header a span.symbols {
    font-size: 30px;
}

.article-wrapper header {
    font-size: 40px;
}


.article-wrapper p.article-date {
    color: #00a9ad;
    margin-bottom: 28px;
    border-bottom: 1px solid #a5a5a5;
    padding-bottom: 13px;
}

.article-wrapper p,
.article-wrapper ol {
    font-size: 18px;
    margin: 8px 0;
    line-height: 1.7em;
    font-weight: 549;
}



h3 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-shadow: 1px 1px 20px #00dee4;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 22px;
    font-weight: normal;
}