h1 {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 38px;
    line-height: 29px;
}

h1 a {
    font-size: 25px;
    letter-spacing: 3px;
}

h1 a span.symbols {
    font-size: 30px;
}

.article-wrapper h2 {
    font-size: 40px;
}

h3 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.article-wrapper p.article-date {
    color: #00a9ad;
}

.article-wrapper h4 {
    padding-top: 28px;
    border-top: 1px solid #a5a5a5;
}

.article-wrapper p,
.article-wrapper h4,
.article-wrapper ol {
    font-size: 18px;
    margin: 8px 0;
    line-height: 1.7em;
    font-weight: 600;
}